@charset "utf-8";
.bo-mt10 {
	margin-top: 10px;
}

.bo-mtb20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bo-pt20 {
	padding-top: 20px;
}

.bo-ml20 {
	margin-left: 20px;
}

.bo-mt20 {
	margin-top: 20px;
}


.bo-ml48 {
	margin-left: 48px;
}

.bo-item-space {
	width: 56px;
	display: inline-block;
}

.bo-form {
	max-width: 480px;
	margin: 0 auto;
	margin-top: 50px;
}

.bo-comment-text {
	display: inline-block;
	margin-left: 56px;
}
.bo-divh58{
	height: 58px;
}

.bo-divh38{
	height: 38px;
}

.bo-lineh58{
	line-height: 58px;
}
