<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>登录</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<#include "/common/include.html">
	</head>
	<body>
		<div class="bo-container">
			<!-- 头部引用 -->
			<#include "/common/header.html">
				<@headerPage currentPage="" />
				<!-- 内容开始-->
				<div class="bo-panel bo-radius bo-mt20">
					<div class="bo-panel bo-center" style="width: 50%;">
						<div class="bo-text-center bo-size24" style="height: 52px;line-height: 52px;">
							<h3>用户登录</h3>
						</div>
						<form action="/dologin" method="post">
							<div class="mh_bn">
								<div class="bo-text-center bo-error-message">
									${__message!}
								</div>
								<input type="hidden" name="bk" value="${bk!}" />
								<div class="bo-text-center">
									<input type="text" class="bo-input" name="email" placeholder="请输入用户名" />
								</div>
								<div class="bo-text-center">
									<input type="password" class="bo-input" name="password" placeholder="请输入密码" />
								</div>
								<div class="bo-text-center succ_bn btn_lg" onclick="$('form').submit();">登录</div>
								<p class="forget_password"><a href="/forgetone">忘记密码？</a></p>
							</div>
						</form>
					</div>
				</div>
				<!-- 内容结束-->
				<#include "/common/footer.html">
		</div>
	</body>

</html>